.container_12, .container_16 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}
.grid_2, .grid_4, .grid_10,.grid_16 {
	display:inline;
	float:left;
	position:relative;
	margin-left:10px;
	margin-right:10px;
}
.container_16 .grid_16 {
	width:940px;
}
.alpha {
	margin-left:0;
}
.container_16 .grid_2 {
	width:100px;
}
.container_16 .prefix_3 {
	padding-left:250px;
}
.container_16 .suffix_3 {
	padding-right:180px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
* html .clearfix, *:first-child+html .clearfix {
	zoom:1;
}
